@font-face
{font-family: 'GlacialIndifference';
src: url('GlacialIndifference.otf') format('opentype');
}

/*cosmétique de la page*/


* {
	box-sizing:  border-box;
	list-style: none;
}

body {
		background:#010101;
		color: #fefefe;
		font-family: "GlacialIndifference",Helvetica, sans-serif;
		font-size: 16pt;
		font-weight: 400;
		line-height: 1.75em;
	}


	h1 {background:#fefefe;
		color: #010101;
		font-size: 2.5em;
		line-height: 1.5em;
	    width:  100%;
		box-sizing: border-box;
	}

	h2 {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.25em;
		line-height: 1.5em;
	}
strong{
		color: #fff;
		font-weight: 400;
	}
a { transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		border-bottom: dotted 1px;
		color: #49bf9d;
		text-decoration: none;
	}

	a:hover {
			border-bottom-color: transparent;
			color: #49bf9d;
			text-decoration: none;
		}

img 
{
	border-radius:  80px;
	padding: 10%;
	margin-bottom: 10%;}


	
ul {
	list-style: none;
}

h1{
	text-align: justify;
	margin-left: 5%;
	margin-right: 5%;
    margin-top: 5%;
   }

 

/*organisation de la page*/

body
	{
	display:flex;
	flex-direction: column;
   }


header 
   {
	display:flex;
	justify-content: space-evenly;
	align-items: baseline;
   }

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1em;
    padding-bottom: 0.2px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}



li
{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.fwd
{
	width: 0;
    height: 0;
    border-top: 50px solid black;
    border-left: 100px solid #49bf9d;
    border-bottom: 50px solid black;
    position: absolute;
    right: 0;
}

.back
{
	width: 0;
    height: 0;
    border-top: 50px solid black;
    border-right: 100px solid #49bf9d;
    border-bottom: 50px solid black;
    position: absolute;
    left: 0;
}


 
.bouton 
{
		background-color: transparent;
		border-radius: 0.35em;
		border: solid 3px #efefef;
		color: #787878 ;
		font-weight: 400;
		height: 3.15em;
		height: calc(2.75em + 6px);
		line-height: 2.75em;
		min-width: 10em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

.boites {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 1.2em;
	margin-right: 108px;
	margin-left: 108px;
}

.film {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.2em;
	padding: 0 1.5em;
}

.carrousel {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	font-size: 1.2em;
}

.floatingIMG {
	float:left;
}

.play{
	background:#fefefe;
	color: #010101;
	font-weight: bold;
	padding: 10px 14px;
	font-size: 18px;
	margin: 100px auto;
	height: 50%;
	max-height: 50px;
	min-width: 150px;
	cursor: pointer;
	display: inline-block;
}

.layOut{
margin-top: 150px;
margin-left: 100px;
display: flex;
justify-content: center;
}

#bestMovieRightSide {
	display: block;
}

#img_Meilleur_film {
    bottom: 0px;
    width: 50%;
	margin: 0;
	padding: 0;
}

#Meilleur_film_content {
	display: flex;
	;
}

#bestMovieParagraph {
	padding: 10px;
	font-size: 1.5em;
}

/*CSS de la Modale*/
.modal-btn {
	padding: 10px 14px;
	font-size: 18px;
	margin: 100px auto;
	display: inline-block;
	height: 50%;
	max-height: 50px;
	min-width: 150px;
	cursor: pointer;
  }
  
.modal-container {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	transition: visibility 0.4s;
  }
.modal-container.active {
	visibility: visible;
  }
  
  .overlay {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #333333d3;
	transition: opacity 0.4s 0.2s ease-out;
  }
  .modal-container.active .overlay {
	opacity: 1;
	transition: opacity 0.4s ease-out;
  }
  
  .modal {
	margin-top: 5%;
	position:absolute;
	opacity: 0;
	width: 95%;
	max-width: 700px;
	min-width: 300px;
	padding: 30px;
	background: black;
	border-radius: 5px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, calc(-50% - 50px));
	transition: opacity 0.4s ease-out,
	transform 0.4s ease-out;
	max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
  
  .modal-container.active .modal {
	opacity: 1;
	transform: translate(-50%, -50%);
	transition: opacity 0.4s 0.2s ease-out,
	transform 0.4s 0.2s ease-out;
  }
  
  .close-modal {
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: #ff365e;
	color: #fff;
  }
  .modal h1 {
	margin-bottom: 10px;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
  }
  .modal p {
	line-height: 1.4;
	margin-bottom: 5px;
  }


@media screen and (max-width: 1000px) {
	.modal {
		position: fixed;
		margin-top: 10px;
		opacity: 0;
		width: 95%;
		max-width: 700px;
		min-width: 300px;
		padding: 30px;
		background: black;
		border-radius: 5px;
		transition: opacity 0.4s ease-out,
		transform 0.4s ease-out;
		max-height: calc(100vh - 210px);
        overflow-y: auto;
	  }
	.modal-container {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 500px;
		height: 700px;
		transition: visibility 0.4s;
	  }

	.modal-container.active .modal {
		margin-top: 10px;
	    opacity: 1;
		transition: opacity 0.4s 0.2s ease-out,
		transform 0.4s 0.2s ease-out;
	  }

	.close-modal {
		padding: 8px 10px;
		border: none;
		border-radius: 5px;
		font-size: 18px;
		position: fixed;
		top: 10px;
		right: 10px;
		cursor: pointer;
		background: #ff365e;
		color: #fff;
	  }

	#bestMovieParagraph {
	    padding: 50px;
		font-size: 1em;
	}
	}
	  





	